<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/todos" method="POST">
    <input type="text" name="newtodo">
    <button type = "submit">Submit</button>
    </form>
    <ul>
        {{#each todos as |todo|}}
        <!-- Anything thing written in this each block will be reapeated
        for each item enterd by client and it will be rendered on the page-->
        <li>{{todo.task}}</li>
    <!--Here we have inserted data into a li item -->

        {{/each}}
    </ul>
</body>
</html>